@using Match_BLL.Models;
@model IEnumerable<FilterResultLine>

@{
    ViewBag.Title = "Games";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h4>@Model.First().Line.Sport</h4>
        </div>
        <div class="col-lg-6">
            @Html.ActionLink("Games filter", "GamesFilterView", "Home", new { @class = "btn btn-primary" })
        </div>
    </div>
   
    @Html.Partial("/Views/Partials/_pv_FilterResults.cshtml", Model);
   
</div>