
<div class="container">
    <div class="row">
        <div>
            <div class="form-group">
                <input type="text" name="coef" placeholder="coef" />
                <input type="button" name="more" value=">" />
                <input type="button" name="less" value="<" />
            </div>
        </div>
    </div>
</div>
